<%= render 'todolists/flash' %>
<div class="container p-5">
  <div class="row">
    <div class="col-2 bg-info">
      <%= render 'todolists/settings' %>
    </div>
    <div class="col-10 d-flex justify-content-center">
      <div class="show-box">
        <h2>タイトル</h2>
        <p><%= @list.title %></p>
        <h2>本文</h2>
        <p><%= @list.body %></p>
        <h2>画像</h2>
        <%= attachment_image_tag @list,:image,:fill,300,300,format:'jpeg',fallback: 'no-image.png',size:'200x200', class:'mb-4' %>

        <div class="complete_date">
          <% @list.completes.each do |complete| %>
            <p><%= complete.date %></p>
          <% end %>
        </div>
        <%# completeエラー
        <div class="new_complete">
          <%= form_with(model:[@list,@complete],local: true) do |f| %>
             <%# <%= f.label :date %>
             <%# <%= f.date_field :date %>
           <%# <%= f.submit 'Complete' %>
          <%#<% end %>
        <!--</div>-->
        <%= link_to "編集",edit_todolist_path(@list.id), class:'btn btn-primary mr-2' %>
        <%= link_to "削除",todolist_path(@list.id),method: :delete,"data-confirm" => "本当に削除しますか？", class:'btn btn-danger' %>
      </div>

    </div>
  </div>
</div>
