<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="httos://fonts.googleapis.com/css?family=Kaushan+Script"rel="stylesheet">
  </head>

  <body>
    <header class="bg-light">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="row">
            <h1 class ="p-3">
              <%= link_to about_homes_path, class:"text-dark" do %>
                All Lists
              <% end %>
            </h1>
          </div>
          <buttuon class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </buttuon>
          <div class="row col-lg-5 collapse navbar-collapse" id="navbarNav">
            <ul class ="navbar-nav ml-aito navbar-brand">
            <li class ="nav-item">
              <%= link_to root_path,  class: 'nav-link text-dark' do %>
                <i class="fas fa-desktop">Top</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to todolists_path,  class: 'nav-link text-dark' do %>
                <i class="fas fa-clipboard-list">Todolist</i>
              <% end %>
            </li>
            <li class ="nav-item">
              <%= link_to new_todolist_path,  class: 'nav-link text-dark' do %>
                <i class="fas fa-folder-plus">New List</i>
              <% end %>
            </li>
          </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h3>株式会社TodoLists</h3>
            <p>
              あなたの行動のそばに<br>
              常に私達は寄り添います
            </p>
          </div>
          <div class="col-md-7">
            <h6>お問い合わせ</h6>
            <ul class="list-unstyled">
              <li>
                電話番号<br>
                <a href="/">000-0000-0000</a>
              </li>
              <li>
                メールアドレス<br>
                <a href="/">00000000@mail</a>
              </li>
              <li>
                <a class="btn btn-primary" href="/homes/about">
                  問い合わせはこちら
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
