<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="httos://fonts.googleapis.com/css?family=Kaushan+Script"rel="stylesheet">
  </head>

  <body>
    <header class="bg-light">
      <nav class="navbar navbar-light">
        <div class="container">
          <div class="row">
            <h1 class ="">All Lists</h1>
          </div>
          <div class="row">
            <ul class ="nav-list">
            <li class ="navbar-brand">
              <%= link_to root_path,  class: 'nav-link text-dark' do %>
                <i class="fas fa-desktop">Top</i>
              <% end %>
            </li>
            <li class="navbar-brand">
              <%= link_to todolists_path,  class: 'nav-link text-dark' do %>
                <i class="fas fa-clipboard-list">Todolist</i>
              <% end %>
            </li>
            <li class ="navbar-brand">
              <%= link_to new_todolist_path,  class: 'nav-link text-dark' do %>
                <i class="fas fa-folder-plus">New List</i>
              <% end %>
            </li>
          </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
